<%- include('../layout/header.ejs') %>
    <%- include('../layout/navbar.ejs') %>

        <section class="breadcrumb-section">
            <h2 class="sr-only">Site Breadcrumb</h2>
            <div class="container">
                <div class="breadcrumb-contents">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Đăng Nhập</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!--=============================================
=            Login Register page content         =
=============================================-->



<main class="page-section inner-page-sec-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 mb--30 mb-lg--0">
                <!-- Forgot Password Form -->
                <div>
                    <div class="login-form">
                        <h4 class="login-title">Quên mật khẩu</h4>
                        <div class="row">
                            <div class="col-md-12 col-12 mb--15">
                                <div id="notification"></div>
                                <form action="/forgot-password" method="post" onsubmit="submitForm(event)">
                                    <label for="email">Email</label>
                                    <input class="mb-0 form-control" type="email" id="email" name="email" placeholder="Nhập địa chỉ email">
                                    <button type="submit" class="btn btn-outlined" style="margin-top: 10px;">Gửi email đặt lại mật khẩu</button>
                                  </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    // Hàm xử lý khi form được submit
    function submitForm(event) {
      event.preventDefault();
  
      // Thực hiện Ajax để gửi yêu cầu đặt lại mật khẩu
      $.ajax({
        url: '/forgot-password',
        type: 'POST',
        data: $('form').serialize(),
        success: function(response) {
          // Hiển thị thông báo
          const notificationDiv = $('#notification');
          notificationDiv.html(`<p>${response.message}</p>`);
  
          // Sử dụng SweetAlert2 để thay thế hộp thoại alert
          Swal.fire({
            icon: 'success',
            title: 'Thông báo',
            text: response.message,
            confirmButtonText: 'OK'
          }).then((result) => {
            // Chuyển hướng đến trang quên mật khẩu sau khi người dùng nhấp vào OK
            if (result.isConfirmed) {
              window.location.href = "http://localhost:3333/forgot-password";
            }
          });
        },
        error: function(error) {
          console.error('Lỗi khi gửi email đặt lại mật khẩu:', error);
        }
      });
    }
  </script>
  

<%- include('../layout/footer.ejs') %>