<%- include('../layout/header.ejs') %>


<main class="page-section inner-page-sec-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 mb--30 mb-lg--0">
                <!-- Reset Password Form -->
                <div>
                    <div class="login-form">
                        <h4 class="login-title">Đặt lại mật khẩu</h4>
                        <div class="row">
                            <div class="col-md-12 col-12 mb--15">
                                <div id="notification"></div>
                                <form action="/reset-password" method="post" onsubmit="submitForm(event)">
                                    <input type="hidden" name="resetToken" value="<%= resetToken %>">
                                    <label for="newPassword">Mật khẩu mới</label>
                                    <input class="mb-0 form-control" type="password" id="newPassword" name="newPassword" placeholder="Nhập mật khẩu mới">
                                    <label for="confirmPassword">Xác nhận mật khẩu mới</label>
                                    <input class="mb-0 form-control" type="password" id="confirmPassword" name="confirmPassword" placeholder="Xác nhận mật khẩu mới">
                                    <button type="submit" class="btn btn-outlined">Đặt lại mật khẩu</button>
                                  </form>                                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  // Hàm xử lý khi form được submit
  function submitForm(event) {
    event.preventDefault();

    // Lấy dữ liệu từ form
    const formData = {
      resetToken: $('input[name="resetToken"]').val(),
      newPassword: $('#newPassword').val(),
      confirmPassword: $('#confirmPassword').val()
    };

    // Thực hiện Ajax để gửi yêu cầu đặt lại mật khẩu
    $.ajax({
      url: '/reset-password',
      type: 'POST',
      data: formData,
      dataType: 'json',
      success: function(response) {
        // Hiển thị thông báo với SweetAlert2
        Swal.fire({
          icon: response.status === true ? 'success' : 'error',
          title: 'Thông báo',
          text: response.message,
          confirmButtonText: 'OK'
        }).then((result) => {
          // Chuyển hướng đến trang đăng nhập nếu người dùng nhấp vào OK
          if (result.isConfirmed) {
            window.location.href = '/login';
          }
        });
      },
      error: function(error) {
        console.error('Lỗi khi đặt mật khẩu:', error);
      }
    });
  }
</script>

<%- include('../layout/footer.ejs') %>
